@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>肯所托大学</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>欢迎</h2>
        <p class="lead">肯所托大学是一个示例应用程序演示怎么在ASP.net MVC5应用中使用EF6</p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>